<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/main_style.css" />
    <title>PkmLike</title>

</head>
<script src="../scripts/require.js"></script>
<script src = "../data/collision.js"></script>
<script src = "../data/images.js"></script>
<script src = "../scripts/song.js"></script>

<body>
    <div id = money_display>
    </div>
    <div class = canvas_contain>
    <canvas class = canvas></canvas>
    </div>
    <div id="manual-write" style="text-align: center;"></div>
</body>
<script src="../scripts/general_infos.js"></script>
<script src="../data/savestates/savestates.js"></script>
<script src="../scripts/index.js"></script>
</html>